@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  /* color: #ff0000; */
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  background: transparent;
  font-family: 'VictorMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.4;
}

/* #cpu, */
/* #battery, */
/* #pulseaudio, */
/* #custom-omarchy, */
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-omarchy {
  color: #FF0000;
  margin-right: 3px;
  font-size: 18px;
}

#custom-expand-icon {
  color: #C0C0C0;
}

#pulseaudio {
  background-color: #ff4d00;
  padding-right: 11px;
  font-weight: 900;
  /* color: #FFDEAD; */
  /* color: #ffffcd; */
  color: #7f2600;
}

#battery {
  background-color: #ff0000;
  padding-right: 3px;
  font-weight: 900;
  /* color: #2b312e; */
  /* color: #1B1212; */
  color: #7f0000;
}

#clock.1 {
  background-color: #e59200;
  padding-right: 2px;
  font-weight: 900;
  /* color: #ffffcd; */
  color: #7f5100;
}

#clock.2 {
  background-color: #ffa300;
  padding-right: 5px;
  font-weight: 900;
  /* color: #FFDEAD; */
  /* color: #ffffcd; */
  color: #7f5100;
}

#clock.3 {
  background-color: #e54500;
  padding-right: 2px;
  font-weight: 900;
  color: #7f2600;
  /* color: #FFDEAD; */
  /* color: #ffffcd; */
}

#cpu {
  background-color: #e3ff00;
  padding-right: 5px;
  font-weight: 900;
  /* color: #FFDEAD; */
  color: #717f00;
  /* color: #ffffcd; */
}

#memory {
  background-color: #cce500;
  padding-right: 3px;
  font-weight: 900;
  color: #717f00;
  /* color: #ffffcd; */
  /* color: #FFDEAD; */
}

#temperature {
  background-color: #92e500;
  font-weight: 900;
  color: #517f00;
}

#temperature.critical {
    color: #7f0000;
}

#tray {
  margin-right: 16px;
  color: #C0C0C0;
  /* color: #FFAC1C; */
}

#bluetooth {
  margin-right: 17px;
  color: @foreground;
  /* color: #C0C0C0; */
}

#network {
  margin-right: 13px;
  color: @foreground;
  /* color: #C0C0C0; */
}

#custom-left-arrow-temperature {
  color: #92e500; 
  /* background-color: #2E8B57; */
  font-size: 18px;
}

#custom-left-arrow-memory {
  color: #cce500; 
  background-color: #92e500;
  font-size: 18px;
}

#custom-left-arrow-cpu {
  color: #e3ff00; 
  background-color: #cce500;
  font-size: 18px;
}

#custom-left-arrow-clock1 {
  color: #e59200; 
  background-color: #e3ff00;
  font-size: 18px;
}

#custom-left-arrow-clock2 {
  color: #ffa300; 
  background-color: #e59200;
  font-size: 18px;
}

#custom-left-arrow-clock3 {
  color: #e54500; 
  background-color: #ffa300;
  font-size: 18px;
}

#custom-left-arrow-audio {
  color: #ff4d00; 
  background-color: #e54500;
  font-size: 18px;
}

#custom-left-arrow-battery {
  color: #ff0000; 
  background-color: #ff4d00;
  font-size: 18px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

/* #clock { */
/*   margin-left: 8.75px; */
/* } */

.hidden {
  opacity: 0;
}

/* #custom-screenrecording-indicator { */
/*   min-width: 12px; */
/*   margin-left: 8.75px; */
/*   font-size: 10px; */
/* } */
/**/
/* #custom-screenrecording-indicator.active { */
/*   color: #a55555; */
/* } */

/* Specific animation Module */

#custom-screenrecording-indicator {
    font-size: 12px;
    padding: 0 2px;
    margin: 2px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}


#mpris {
color: @foreground;
font-size: 10px;
padding-left: 5px;
padding-top: 2px;
padding-bottom: 1px;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

#battery.warning {
  color: #c95d0f;
  background-color: @background;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
